.concept-section {
}

.concept-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image:
    url(../img/concept/concept-hand-mob.png),
    url(../img/concept/concept-bg-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top 122px left,
    top 115px center;
  background-size: auto, auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 223px;
    max-width: 1440px;
    background-image:
      url(../img/concept/concept-hand-desk.png),
      url(../img/concept/concept-bg-desk.png);
    background-position:
      top 173px left,
      top 150px center;
  }
}

.concept-container {
  @include media(desktop) {
  }
}

.concept-title {
  margin-bottom: 293px;

  @include media(desktop) {
    margin-bottom: 131px;
  }
}

.concept-content-wrapper {
  @include media(desktop) {
    max-width: 420px;
    margin-left: auto;
  }
}

.concept-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #474747;

  @include media(desktop) {
  }
}

.concept-top-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #474747;
  margin-top: 8px;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-top: 0;
  }
}

.concept-middle-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;

  @include media(desktop) {
  }
}

.concept-text-span {
  font-weight: 700;

  @include media(desktop) {
  }
}

.concept-middle-middle-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.concept-middle-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.concept-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;

  @include media(desktop) {
  }
}
