.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom -85px right;
  background-size: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.png);
    background-position: bottom -190px right;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;

  @include media(desktop) {
  }
}

.contact-br {
  @include media(desktop) {
    display: none;
  }
}

.contact-img {
  display: none;

  @include media(desktop) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
  }
}
