.cta-section {
}

.cta-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #0b6286;
  margin-bottom: 34px;

  @include media(desktop) {
    font-weight: 500;
    font-size: 42px;
    text-transform: none;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.cta-btn {
  border: 2px solid #6ec1e4;
  border-radius: 100%;
  padding: 16px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 268px;
  min-height: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    border-color: rgba(255, 255, 255, 0.62);
    color: #6ec1e4;

    .cta-btn-span {
      background: rgba(255, 255, 255, 0.62);
    }
  }

  @include media(desktop) {
  }
}

.cta-btn-span {
  backdrop-filter: blur(7px);
  background: #6ec1e4;
  border-radius: 100%;
  padding: 22px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 197px;
  min-height: 82px;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
