.experience-section {
}

.experience-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 12px;
    max-width: 1440px;
    background-image: url(../img/experience/experience-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 413px;
  }
}

.experience-list-item {
  display: flex;
  align-items: start;
  gap: 20px;

  @include media(desktop) {
  }
}

.experience-icon {
  min-width: 44px;

  @include media(desktop) {
  }
}

.experience-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;

  @include media(desktop) {
  }
}
