.experience-section {
}

.experience-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
  }
}

.experience-list-item {
  display: flex;
  align-items: start;
  gap: 18px;

  @include media(desktop) {
  }
}

.experience-item-number {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;

  @include media(desktop) {
  }
}

.experience-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;

  @include media(desktop) {
    max-width: 271px;
  }
}
