.faq-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border-bottom: 2px solid #6fafb7;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 630px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  background: #6fafb7;
  border-radius: 46px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  height: 44px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 12px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(90deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
}

.faq-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
