.faq-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 631px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #474747;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  height: 44px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  stroke: #474747;
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;
  max-width: 267px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    max-width: max-content;
  }
}

.is-visible {
  margin-top: 4px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
}

.faq-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
