.header {
  background: #ffefe2;
  position: fixed;
  padding: 6px 0;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 16px 0;
  }
}

.header-bg-wrapper {
  @include media(desktop) {
  }
}

.header-bg-wrapper-context {
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: space-between;
  }
}

.header-logo-link {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-logo-img {
  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 91px;
  }
}

.nav-list-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b6286;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
