.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 170px;
  padding-bottom: 85px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 188px;
    padding-bottom: 76px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #6fafb7;
  margin-bottom: 36px;

  @include media(desktop) {
    font-size: 86px;
    max-width: 867px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 262px;
  }
}

.hero-title-span {
  color: #fff;
}

.hero-text-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-bottom: 272px;

  @include media(desktop) {
    font-size: 24px;
    text-align: left;
    max-width: 413px;
    margin-bottom: 0;
  }
}

.hero-btn {
  background: #6fafb7;
  border-radius: 40px;
  padding-left: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 312px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #6fafb7;

    .hero-btn-icon-wrapper {
      background: #6fafb7;
    }
  }

  @include media(desktop) {
    font-size: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    max-width: 374px;
    margin: 0;
  }
}

.hero-btn-icon-wrapper {
  background: #fff;
  border-radius: 46px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;

  @include media(desktop) {
  }
}
