.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 293px;
  padding-bottom: 113px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 221px;
    padding-bottom: 54px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 44px;
  color: #0b6286;
  text-align: center;
  margin-bottom: 21px;

  @include media(desktop) {
    font-size: 120px;
    margin-bottom: 64px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #0b6286;
  max-width: 298px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 639px;
    margin-bottom: 73px;
  }
}

.hero-btn {
  border: 2px solid rgba(255, 255, 255, 0.62);
  border-radius: 100%;
  padding: 31px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #0b6286;
  width: 100%;
  max-width: 205px;
  min-height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    border-color: #6ec1e4;
    color: #fff;

    .hero-btn-span {
      background: #6ec1e4;
    }
  }

  @include media(desktop) {
  }
}

.hero-btn-span {
  backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 140px;
  min-height: 140px;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
