.policy-section {
  background: #ffefe2;
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 118px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  color: #0b6286;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
