.reflection-section {
  @include media(desktop) {
  }
}

.reflection-bg-wrapper {
  padding-top: 30px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/reflection/reflection-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 144px;
    max-width: 1440px;
    background-image: url(../img/reflection/reflection-bg-desk.jpg);
    background-size: cover;
  }
}

.reflection-container {
}

.reflection-title {
  margin-bottom: 260px;

  @include media(desktop) {
    margin-bottom: 92px;
  }
}

.reflection-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.reflection-top-wrapper {
  @include media(desktop) {
    max-width: 412px;
  }
}

.reflection-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 14px;

  @include media(desktop) {
    margin-bottom: 18px;
  }
}

.reflection-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;

  @include media(desktop) {
  }
}

.reflection-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    gap: 54px;
    max-width: 313px;
    margin-right: 100px;
  }
}

.reflection-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;

  @include media(desktop) {
  }
}
