<section class="section concept-section" id="concept">
  <div class="concept-bg-wrapper">
    <div class="container concept-container">
      <h2 class="section-title concept-title">Concept</h2>
      <div class="concept-content-wrapper">
        <div class="concept-img-wrapper">
          <picture>
            <source
              srcset="./img/concept/concept-img-desk.png"
              media="(min-width: 1440px)"
              width="305"
              height="291" />
            <source
              srcset="./img/concept/concept-img-mob.png"
              width="335"
              height="148" />
            <img
              class="concept-img"
              src="./img/concept/concept-img-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="148"
              loading="lazy"
          /></picture>
        </div>
        <p class="concept-text">
          Each level presents two simple options. No explanations,
          no objectives. No scores, ratings, or success indicators.<br />
          Players move forward without knowing the outcome.<br />
          Only the final text reflects the path taken.
        </p>
        <div class="concept-bottom-wrapper">
          <p class="concept-bottom-subtitle">Example choices:</p>
          <p class="concept-example-text">Enter the room / Stay outside</p>
          <p class="concept-example-text concept-bottom-example-text">
            Choose the cat / Choose the dog
          </p>
          <img
            class="concept-desk-img"
            src="./img/concept/concept-desk-img.png"
            alt="Screenshot of the game"
            width="305"
            height="168"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
