<section class="section concept-section" id="concept">
  <div class="concept-bg-wrapper">
    <div class="container concept-container">
      <h2 class="section-title concept-title">Concept</h2>
      <div class="concept-content-wrapper">
        <p class="concept-top-text">
          The screen is filled with gently moving waves of color.
        </p>
        <p class="concept-top-text concept-top-bottom-text">
          Waves overlap, resonate, and blend naturally.
        </p>
        <p class="concept-middle-top-text">
          There are <span class="concept-text-span">no objectives.</span>
        </p>
        <p class="concept-middle-middle-text">No timers.</p>
        <p class="concept-middle-bottom-text">No pressure.</p>
        <p class="concept-bottom-text">
          Just something you want to watch… and gently poke.
        </p>
      </div>
    </div>
  </div>
</section>
