<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <h2 class="section-title cta-title">
        It’s not about winning. It’s about choosing
      </h2>
      <a class="hero-btn cta-btn" href="#contact"
        >Begin the Journey
        <span class="hero-btn-icon-wrapper cta-btn-icon-wrapper">
          <svg class="hero-arrow-icon" width="35" height="35">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg> </span
      ></a>
    </div>
  </div>
</section>
