<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <h2 class="section-title rooms-title">Gameplay Experience</h2>
      <div class="experience-content-wrapper">
        <ul class="experience-list">
          <li class="experience-list-item">
            <p class="experience-item-number">(1)</p>
            <p class="experience-item-text">
              Levels are extremely short.<br />
              Decisions feel insignificant at first.
            </p>
          </li>
          <li class="experience-list-item">
            <p class="experience-item-number">(2)</p>
            <p class="experience-item-text">
              With each level, final reflection text becomes deeper and more
              personal.
            </p>
          </li>
        </ul>
        <ul class="experience-list">
          <li class="experience-list-item">
            <p class="experience-item-number">(3)</p>
            <p class="experience-item-text">
              The player slowly stops “playing” and starts thinking.
            </p>
          </li>
          <li class="experience-list-item">
            <p class="experience-item-number">(4)</p>
            <p class="experience-item-text">
              Each ending delivers a unique message shaped by accumulated
              choices.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
