<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <h2 class="section-title rooms-title">Experience</h2>
      <div class="experience-content-wrapper">
        <picture>
          <source
            srcset="./img/experience/experience-img-mob.png"
            media="(min-width: 1440px)"
            width="630"
            height="360" />
          <source
            srcset="./img/experience/experience-img-mob.png"
            width="375"
            height="214" />
          <img
            class="experience-img"
            src="./img/experience/experience-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="214"
        /></picture>
        <ul class="experience-list">
          <li class="experience-list-item">
            <svg class="experience-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-lotus"></use>
            </svg>
            <p class="experience-item-text">
              At first, interaction feels playful and exploratory.
            </p>
          </li>
          <li class="experience-list-item">
            <svg class="experience-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-lotus"></use>
            </svg>
            <p class="experience-item-text">
              Over time, players create fewer waves and focus on balance.
            </p>
          </li>
          <li class="experience-list-item">
            <svg class="experience-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-lotus"></use>
            </svg>
            <p class="experience-item-text">
              The experience becomes meditative and reflective.
            </p>
          </li>
          <li class="experience-list-item">
            <svg class="experience-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-lotus"></use>
            </svg>
            <p class="experience-item-text">
              Each time you use it feels totally unique to you.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
