<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">What kind of game is Gametryx?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Gametryx is a minimalist, choice-based experience focused on
          reflection rather than competition or achievement.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is there a correct way to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. There are no right or wrong choices. Every decision is valid.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I win or lose?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          There is no winning or losing. The game only ends, and reflects your
          choices back to you.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Why are there no scores or objectives?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          There is no Without scores or objectives, you can actually think about
          why you chose what you chose. wining or losing. The game only ends,
          and reflects your choices back to you.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are the endings different?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Each playthrough leads to a different reflective ending based on
          the choices made.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Gametryx suitable for all ages?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Sure, anyone can play it, but we think adults might get more out of
          the experience.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How long is a playthrough?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          A full playthrough is short, but designed to leave a lasting
          impression.
        </p>
      </li>
    </ul>
  </div>
</section>
