<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Every <span class="hero-title-span">Choice</span> Means Something
        </h1>
        <div class="hero-text-wrapper">
          <p class="hero-text">
            A game where there are no scores, no wins — only decisions and their
            echoes
          </p>
          <a class="hero-btn" href="#contact"
            >Start the Experience
            <span class="hero-btn-icon-wrapper">
              <svg class="hero-arrow-icon" width="35" height="35">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg> </span
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
