<section class="interaction-section section" id="interaction">
  <div class="interaction-bg-wrapper">
    <div class="container interaction-container">
      <h2 class="section-title interaction-title">Interaction</h2>
      <p class="interaction-subtitle">Core gestures:</p>
      <div class="interaction-swiper-container">
        <ul class="swiper-wrapper interaction-swiper-wrapper">
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="310"
            />
            <h3 class="interaction-item-title">Tap</h3>
            <p class="interaction-item-text">
              Creates a new wave at the point of contact.
            </p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="310"
            />
            <h3 class="interaction-item-title">Swipe</h3>
            <p class="interaction-item-text">
              Changes the direction of existing waves.
            </p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="310"
            />
            <h3 class="interaction-item-title">Long Tap</h3>
            <p class="interaction-item-text">
              Calms a wave, making it slower and wider.
            </p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="310"
            />
            <h3 class="interaction-item-title">Wave Overlap</h3>
            <p class="interaction-item-text">
              Colors blend when waves intersect.
            </p>
          </li>
        </ul>
      </div>
      <p class="interaction-bottom-text">
        You’ll find yourself guiding the waves that are already there instead
        of constantly making new ones.
      </p>
    </div>
  </div>
</section>
